/*NORMAL STYLE*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.btn{
    font-size: 15px;
    padding:15px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: orangered;
    transition: all 0.3s;
    margin: 10px 0;
    
   }
  .btn:hover{
    background-color:red;
    color: black;
  }



   /*first BANNER SECTION STYLE*/


   .first-banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(255, 248, 220) ;
    padding: 0 130px;
   }





   .description-flower1{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 10px;


   }

   .first-paragraph{
    padding: 10px 0;
   }


   .flower1{
    width: 400px;
   }

                       /*FEATURED STYLE STARTS FROM HERE*/



  .featured-container{
    
    text-align: center;
    padding: 100px 130px;
  }



.featured-flowers{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}







   .first-featured-flower1{
    
    background-color:rgb(255, 248, 220) ;
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
    width: 300px;
    
    padding-top: 100px;
    
    
    
   }  
   
   
   .featured-img1{
    width: 150px;
    
    
    
    

   }






   .first-featured-flower2{
    
    background-color: rgb(220, 220, 220);
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
    width: 300px;
    padding-top: 100px;
   }



   .first-featured-flower3{
    
    background-color:rgb(250, 235, 215) ;
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
    width: 300px;
    padding-top: 100px;
    
   }

   .featured-heading{
    font-size: 30px;
    padding-bottom: 10px;
   }

   .featured-paragraph{
    color: rgba(0, 0, 0, 0.74);
    padding-bottom: 20px;
   }

   .featured-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
   }
   .bottom-title{
    border-bottom: 1px solid black;
   }

                       /*FEATURED STYLE ENDED*/







                    /*MY OWN MADE SECTIOM STYLE */


.my-own-make-container{
        margin:90px 0;
        padding: 100px 130px;
        background-color:rgba(250, 231, 224, 0.87) ;
        text-align: center;
       
    }                

.flowers-craft{
 display: flex;
 justify-content: space-around;
 gap: 20px;
 align-items: center;


                    }
                    
.flower-craft{
 width: 190px;
text-align: center;
background-color:rgb(127, 255, 0) ;
border: 1px solid cadetblue;

                        
    }
                    
                    
 .flower-craft-order{
width: 190px;
 height: 190px;
                       
    }
.flower-title{
font-size: 20px;
                        
     }
    
 .flowers-to-order{
    font-size: 30px;
    
 }                   
                    
                    
  .chose-to-order{
    padding-top: 10px;
    padding-bottom: 30px;

  }                  



                    
.prize{
 color:rgba(255, 0, 0, 0.644);
 font-size: 30px;
 
}

                  
                    
                    /*MY OWN MADE SECTION STYLE END*/
                    
                    
                    
                    
                     /*DISCOUNT WITH 25% STYLE STATRS*/


 .discount-rose-container{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 100px 130px;
                background-color:rgba(210, 105, 30, 0.726) ;
            }
.discount{
    text-align: center;
    
}

.hot-deal{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.753);
    padding-bottom: 16px;
}
.hot-deal-paragraph{
    padding-bottom: 25px;
}

.rose-img{
    width: 200px;
}

     .btn1{
        font-size: 15px;
        padding:15px;
        border-radius: 15px;
        color: black;
        border: none;
        background-color:cadetblue;
        transition: all 0.3s;
        margin: 20px 0;
        


     }
.btn1:hover{
    background-color: red;
    color:white;
}


.span{
    font-size: 40px;
    color: purple;
}

                          /*DISCOUNT WITH 25% STYLE END*/



                          /*INSTAGRAM FLOWERS STYLE START*/


   .instagram-container{
    text-align: center;


  padding: 100px 130px;
   }   
   
   .instagram-flowers{
    display: flex;
    justify-content: space-around;
    gap: 10px;
   }

   .instagram-flow{
    width: 200px;
    
   }

   .instagram-heading{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 10px;

   }

   .instagram-paragraph{
    padding-bottom: 25px;
    color: rgb(95, 158, 160);
   }

                              /*INSTAGRAM FLOWERS STYLE END*/




                           /*LAST SECTION STYLE START*/


                                 

     .last-section-container{
        padding: 100px 130px;
        margin: 90px 100px;
        text-align: center;
       background-image: url("./photos/back.png");
       background-repeat: no-repeat;
       background-size: cover;

     }

     .last-section-heading{
        font-size: 35px;
     color: rgba(0, 0, 0, 0.795);
     padding-bottom: 10px;

     }

     .last-section-paragraph{
        padding-bottom: 25px;
        color:rgba(0, 0, 0, 0.781);

     }

     #email{
      
       background-color:rgb(176, 224, 230);
       color: black;
       width: 400px;
       padding: 15px 5px;
       border-radius:5px;
    
     }
     input[type="email"]{
        border: none;
        outline: none;
        border: 1px solid white;
     }

     .btn2{

       font-size: 15px;
        padding:15px;
        border-radius: 5px;
        color: black;
        border: none;
        background-color:cadetblue;
        transition: all 0.3s;
        margin: 20px 0;
        



     }



     .btn2:hover{
        background-color: orangered;
     }
     
      


                         /*LAST SECTION STYLE END*/




                          /*FOOTER SECTION STARTED*/


.footer{
text-align: center;
background-color: black;
padding: 100px 130px;

}

.footer-heading{
    color: white;
    font-size: 35px;
}

.footer-paragraph{
    color: rgba(255, 255, 255, 0.712);
    padding: 15px 0;
}

.footer-paragraph-2{
    color: rgba(255, 255, 255, 0.712);
    padding: 15px 0;
    font-size: 12px;
}



.flower{
    color: rgb(236, 14, 69);
}





                              /*THE END OF STYLE OF THIS WEBSITE*/